<!DOCTYPE html>
<html>
    <head>
        <title>SQL Injection/CSRF</title>
        <link rel='stylesheet' href='/styles/main.css' />
    </head>
    
    <body>
        <h1>
           CSRF(Cross Site Request Forgery) SAFE <br>
           Bank payment
        </h1>
        <h2>
            <button on>
                <a href="https://web2-lab2-smo3.onrender.com/csrf/test">TEST</a>
            </button>
            <button on>
                <a href="https://web2-lab2-smo3.onrender.com/csrf/safe">SAFE</a>
            </button>
            <button on>
                <a href="https://web2-lab2-smo3.onrender.com/csrf/unsafe">UNSAFE</a>
            </button>
        </h2>
        <h3>
            <button on>
                <a href="https://web2-lab2-smo3.onrender.com/sql/safe">SQL Injection</a>
            </button>
        </h3>
        <div class="center">
            <p>Start your payment:</p>
            <form action="/csrf/safe" method="post">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                <label for="username">Enter recipient: </label>
                <input type="text" id="username" name="username"><br><br>
                <label for="amount">Enter amount($USD): </label>
                <input type="text" id="amount" name="amount"><br><br>
                <input type="submit" value="Submit">
            </form> 
        </div>
        <%if(success==true){%>
            <div class="succ">
                USPJELO
            </div>
            <%}%>
    </body>
</html>